/* screen-width >= 992px */

html {
    font-size: 12px;
}

.wrapper {
    width: 1280px;
    max-width: 100vw;
}

#header-image {
  height: 250px;
}

menu ul {
    justify-content: center;
}

menu li {
    margin: 0 20px 0 20px;
}

.flex {
    flex-wrap: nowrap;
}

.accordion {
    width: 100%;
}

.card {
    flex-basis: 0;
    height: 290px;
}

.card:hover {
    flex-grow: 3;
}
.card:hover .card-content {
    top: 0;
}

.card-content {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: calc(100% - 40px);
}

#cv-content {
  display: flex;
}

#cv-content article:not(:last-child) {
  margin-right: 1em;
}

#contact-info {
  grid-template: auto auto / 1fr auto auto 1fr;
}

#github-link {
  grid-column-start: 1;
  grid-row-start: 1;
  text-align: right;
}
#linkedin-link {
  grid-column-start: 4;
  grid-row-start: 1;
}
#github-icon {
  grid-column-start: 2;
  grid-row-start: 1;
}
#linkedin-icon {
  grid-column-start: 3;
  grid-row-start: 1;
}
#telephone, #email {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

.contact-category {
  text-align: right;
}

#links {
  position: absolute;
  top: 10px;
  left: 10px;
}

.center {
  display: flex;
  justify-self: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
}
.center > *:first-child {
  text-align: right;
  width: 50%;
  margin-right: 4px;
}
.center > *:last-child {
  text-align: left;
  width: 50%;
}