/* screen-width < 992px */

/* Typography */
html {
  font-size: 10px;

  font-family: sans-serif;
}

body {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;

  font-weight: normal;
}

h2 {
  font-size: 2.5rem;

  font-weight: normal;
}

h3 {
  font-size: 1.5rem;

  font-weight: bold;
}

h4 {
  font-weight: normal;
  font-size: 1.5rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
  text-decoration: underline;
}

p {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: "Arvo", serif;
}
p:first-child {
  margin-top: 0;
}

/* Common styling */
ul {
  font-size: 1.5rem;
  /* Bullet point is equal to font size */
  padding-left: 1.5rem;

  margin: 0;
  margin-bottom: 1rem;

  font-family: "Arvo", serif;
}

.bold {
  font-weight: bolder;
}

a {
  color: #0078d7;
}

/* site specific */
html,
body {
  margin: 0;

  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

header,
footer {
  background-color: #f0f0f0;
  width: 100%;
  position: relative;

  page-break-inside: avoid;

  border-bottom: 5px solid #d0d0d0;
  border-top: 5px solid #d0d0d0;
}
header > .auto-wrap {
  align-items: end;
}

header h1,
header h5 {
  margin-top: 0;
  margin-bottom: 0;
}
menu {
  padding: 0;
  margin: 10px 0 0 0;
}

menu ul {
  list-style: none;
  padding: 0;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;
}

menu a {
  color: #529ecc;
  text-decoration: none;
}

.content {
  padding: 10px;
}

.flex {
  flex-wrap: wrap;
}

.card {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  flex-grow: 1;
  flex-basis: 100%;

  margin-bottom: 10px;

  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  position: relative;
}

.card-content {
  background-color: rgba(0, 0, 0, 0.75);

  overflow: hidden;

  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.card-header {
  line-height: 40px;
  margin: 0;
  text-align: center;
}

.card-header a {
  color: #fff;
}

.card-desc {
  color: #fff;
  padding: 10px;
}

address {
  text-align: left;
  font-style: normal;
  font-size: 1.4rem;
  white-space: nowrap;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
}

address > * {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
address > * > *:first-child {
  margin-right: 8px;
}

address img.contact-category {
  object-fit: contain;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.auto-wrap {
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  vertical-align: top;
}

section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.projects {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.projects > * {
  position: relative;
  height: 150px;
  width: 200px;
  flex-shrink: 0;
}

.projects .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  transition: opacity 0.2s;

  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  text-decoration: underline;
  text-overflow: ellipsis;
}

.projects img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#notes-img, #liveresults-img {
  object-position: top;
}

@media print {
  /* This hack will set the footer on the bottom of the second page when printing
   * If bottom: 0 -> first page
   * If bottom: -100% -> second page
   * If bottom: -200% -> third page
   * and so on
   */
  html {
    position: relative;
    height: 100%;
  }

  footer {
    position: absolute;
    bottom: -100%;
  }
}
