.timeline {
  position: relative;

  margin-bottom: 10px;
}


.timeline-entry {
  position: relative;
  page-break-inside: avoid;
}


.timeline-date {
  position: absolute;
  transform: translateX(calc(-100% - 8px));
  
  padding: 8px;
  border-radius: 8px;

  flex-shrink: 0;

  background-color: #ff7827;

  color: rgba(255, 255, 255, 0.9);

  text-align: center;
  line-height: 2rem;

  font-weight: bold;

  font-size: 1rem;
}

.timeline-title {
  display: inline-block;

  margin-top: 1.25rem; /* timeline-height = 4.5rem / 2 - 1em */
  margin-bottom: 1.25rem;

  text-align: left;
}

.timeline-header {
  display: flex;
  align-items: center;
}
